/* Swiper styles for sliders and carousels */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000; /* Change to your desired color */
}

.swiper-pagination-bullet {
    background: #000; /* Change to your desired color */
}

.swiper-pagination-bullet-active {
    background: #007aff; /* Change to your desired active color */
}